[Desktop Entry]
Name=Pegasus
GenericName=PineTime Health App
Comment=Sync and integrate with PineTime smart watch
Exec=pegasus
Icon=io.github.graeus.Pegasus
Terminal=false
Type=Application
Categories=Utility;GNOME;GTK;
Keywords=InfiniTime;PineTime;Smartwatch;Companion;Time;
# Translators: Do NOT translate or transliterate this text (these are enum types)!
X-Purism-FormFactor=Workstation;Mobile;
